* {
    padding: 0;
  /* margin: 0 auto;*/
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.page-cont {
    display: flex;
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo p {
    font-size: 1.38rem;
}

.logo img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.user-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0.1rem 0.5rem;
    border-radius: .8rem;
    color: #fff;
    margin-bottom: 2rem;
}
.user-wlc-note {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 1;
    padding: 1px;
    
}

.user-wlc-note p {
    margin: 0px;
}

.user-bar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.sidebar-cont {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    background: linear-gradient(to top, #1d4b7a 0%, #062545 60%, #142a4c 100%);
    margin: 0;
    padding: 1.2rem 1rem;
    height: 100vh;
    color: #fff;
    flex: 2;
    position: sticky;
    left: 0;
    top: 0;
}

.sidebar-cont a {
    color: #fff;
    text-decoration: none;
   /* transition: all 0.3s ease-in;*/
    padding: .3rem .1rem;
    width: 100%;
    display: flex;
    gap: 5px;
}

.nav-links a:hover {
    /*padding: 0.4rem 0.2rem;*/
    background: #fff;
    color: #333;
    border-radius: .6rem;
    border-left: 7px solid #3775b3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;


}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

}

.logins {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.logins a:hover {
    color: red;
}

.arrow-btns a {
    display: block;
    margin-top: 10px;
    color: #f5f5f5;
    text-decoration: none;
    transition: all 0.5s ease;
}

.main{
    font-size: 0.8rem;
}


.main-cont {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
    
}


.main-cont header {
    background: linear-gradient(to right, #1d4b7a 0%, #1d4b7a 60%, #142a4c 100%);
    color: white;
    padding: .6rem .4rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
    margin-left: auto;
    border-bottom: 1px solid #f5f5f5;
    position: sticky;
    width: 100%;
    height: 5rem;
    box-shadow: 0px 6px 12px rgba(0, 0.1, 0.2, 0.3);
    overflow: hidden;
    top: 0;
    position: sticky;
}

.h-message {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
    padding: .4rem .2rem;
   
    margin: 0px;
}

.h-message p {
    margin: 1px;
}

.p2 {
    font-size: .8rem;
    
}

.p1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.miss-cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px 20px;

    /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 100vh;
  padding: 10px 20px;

  gap: 5px;
  flex: 1;
  margin-top: 6rem;
}*/
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
   /* padding: 1.6rem .8rem;*/
    width: 100%;
    padding: 1.6rem .8rem;
}

.progress-bar {
    background: #fff;
    box-shadow: 0px 4px  10px rgba(0, 0.2, 0.2, 0.4);
    padding: .4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    
}

.progress-bar p {
    margin: 0;

}

.pro-p1 {
    font-size: 1rem;
    font-weight: bold;
}
.pro-p1, .pro-p2 {
    text-align: left !important;
}

.weekly-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
}

.weekly-card {
    display: flex;
    background: #fff;
    padding: .4rem .6rem;
    border-radius: .6rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 4px  10px rgba(0.8, 0, 0.8, 0.2);
}

.chck-btn {
    border: none; 
    border-radius: .8rem;
    padding: .3rem .4rem;
    background:  #9fc09d;
    color: #3b7245;
    cursor: pointer;
}

.m-btn {
    border-radius: .2rem;
    padding: .3rem .4rem;
    background: #fff;
    border: 1px solid rgb(214, 214, 159);
    cursor: pointer;
}

.weekly-card select {
    border: none;
}

.week-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.





/*
.miss-card {
    background: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0.1, 0.2, 0.3);
    padding: .5rem .9rem;
    width: 100%;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.main p {
    font-weight: 600;
    font-size: 1.1rem;
}

.miss-card button {
    padding: .6rem .8rem;
    border: none;
    border-radius: .9rem;
    background: #1d4b7a;
    color: #fff;
    font-weight: 600;
    transition: color 0.8s ease;
    display: flex;
    gap: 5px;
}

.miss-card button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #211559, #14215f);

}

.unlock {
    background: #fff;
    padding: .4rem .6rem;
    border-radius: .6rem;
    box-shadow: 0px 6px 16px rgba(0, 0, 0.4, 0.4);
    width: 60%;

}
*/
.arrow-btns {
    display: flex;
    gap: 15rem;
    margin-bottom: .3rem;
    padding: 1.5rem;

}

.arrow-btns button {
    border: none;
    padding: .5rem .6rem;
    box-shadow: 0px 4px 14px rgba(0, 0.1, 0.2, 0.3);
    border-radius: .9rem;
    display: flex;
    gap: 5px;
    transition: all .8s ease;
}

.arrow-btns button:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgb(82, 106, 106), #286eb5);
}

.btn1 {
    background: #1d4b7a;
    color: #fff;
}

.btn1 i {
    color: 
}