.card-container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.card {
    width: 100%;
    min-width: 550px;
    background: #eee;
    padding: .8rem 1.5rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*gap: 10rem;*/
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'segoe ui', arial;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
    flex: 1;
}

.m-button {
    display: flex;
    align-items: center;
    padding: .5rem 1.2rem;
    gap: .5rem;
    border: 1px solid rgb(187, 187, 187);
    border-radius: .6rem;
    font-size: .9rem;
    background: #2464c3;
    color: #eee;
    font-weight: bold;
}

.m-button i {
    color: rgb(3, 226, 3);
}

.logout-btn {
    border: none;
    background: #1d4b7a;
    color: #eee;
    display: flex;
    align-items: center;
    padding-left: 4px;
    gap: .4rem;
    cursor: pointer;
    margin-bottom: .3rem;
    font-weight: bold;
    transition: all .3s ease;
}

.logout-btn:hover {
    color: rgb(224, 66, 66);
}